body {
    background: #000000;
    color: #00000;
  }
  
h1 {
    text-align:center;
    color: white;
    font-family: "Menlo";
}  

p {
    color: white;
    font-family: "Menlo";
}

/* cursors*/
body {
    cursor: url('customcursor.png') , auto;
    }
    
    
    
  a {
  
      cursor: url('custompointer.png'), auto;
      }
      
      a:hover {
      
      cursor: url('custompointer.png'), auto;
      }
      a:active {
      
      cursor: url('custompointer.png'), auto;
      }
      
    a:visited {
      color:blue;
      }
  